
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ㅋㅌㅌ : 코리아텍을 위한 톡 커뮤니티</title>

    <!-- Bootstrap -->
    <link href="assets/stylesheet/css/bootstrap.css" rel="stylesheet">
	  <link href="assets/stylesheet/css/bootstrap-theme.css" rel="stylesheet">
    <link href="assets/stylesheet/css/style.css" rel="stylesheet">
  </head>

  <body>

  <!--navbar code는 application.html.erb 파일의 body 부분으로 이동 ->계속 반복되는 부분이므로 -->

  	<div class="button" style="text-align:center; margin-top:60px; margin-bottom:20px; margin-left:auto; margin-right:auto; vertical-align:middle;">
      <button type="submit" onclick="location.href='/board/write_post_view'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">
        <span class="glyphicon glyphicon-pencil" style="font-size:12px;"></span> 글쓰기
      </button>
  	</div>
  	
  	<div class="container">
    	<div class="list-group">
    	  <% @post.each do |p| %>
          <a href="/board/view_post/<%= p.id %>" class="list-group-item list-group-item-action flex-column align-items-start" style="margin-top:10px;">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1" style="font-weight:bold; font-size:15px;">
                <%= p.title %> 
                <span class="badge"><%= p.comment_count %></span>
                <small style="padding-left:10px;"><%= (p.created_at).in_time_zone("Asia/Seoul").strftime("%Y-%m-%d") %></small></td>
              </h5> 
              <p class="mb-1" style="font-size:12px;"><%= p.content %></p>
            </div>
            <hr>
            <small><%= p.name %></small> ⋅ <small><%= p.hits %>명 읽음</small>
          </a>
        <% end %>
      </div>
      <div id="footer">
        <p class="copyright" style="text-align:center; text-weight:bold">&copy; NEMOLAND</p>
    	</div>
    </div>
  	
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/javascripts/bootstrap.min.js"></script>
      
  </body>
</html>
