<div class="container" style="margin-left:30px; margin-top:30px;">
  <h1>한줄게시판</h1> <br>
  <table class="table table-bordered" style="text-align:left; margin-bottom:0px;">
    <tr style="font-weight:bold; color:white;" bgcolor="gray">
      <td class="col-md-12" style="padding:10px"><%= @post.title %></td>
    </tr>
  </table>
  <table class="table table-bordered" style="text-align:center; margin-bottom:0px;">
    <tr>
      <td class="col-md-1"><b>작성자</b></td>
      <td class="col-md-3" style="color:gray;"><%= @post.name %></td>
      <td class="col-md-1"><b>등록일</b></td>
      <td class="col-md-3" style="color:gray;"><%= (@post.created_at).in_time_zone("Asia/Seoul").strftime("%Y-%m-%d %H:%M") %></td>
      <td class="col-md-1"><b>조회수</b></td>
      <td class="col-md-3" style="color:gray;"><%= @post.hits + 1 %></td>
    </tr>
  </table>
  <table class="table table-bordered" style="text-align:left; margin-bottom:10px;">
    <tr width="50px">
      <td height="300px" class="col-md-12" style="padding-left:25px; padding-top:15px;"><%= @post.content %></p></td>
    </tr>
  </table>
  <button type="submit" onclick="location.href='/board/update_view/<%= @post.id %>'" class="btn btn-default">수정</button>
  <button type="submit" onclick="location.href='/board/destroy_post/<%= @post.id %>'" class="btn btn-default">삭제</button>
  <button type="submit" onclick="location.href='/board'" class="btn btn-default">목록</button>
</div>
<hr>

<div class="container" style="margin-left:30px; margin-top:30px;">
  <form action="/board/write_comment/<%= @post.id %>" method="POST">
    <div style="font-size:13px;">
      <label class="col-xs-1" for="nickname">닉네임 : </label>
      <input name="nickname" type="text" class="col-xs-1" id="nickname" placeholder="닉네임" style="width:150px; height:20px; font-size:12px">
      <div class="col-xs-1"></div>
      <label class="col-xs-1" for="password">비밀번호 : </label>
      <input name="password" type="text" class="col-xs-1" id="title" placeholder="비밀번호" style="width:150px; height:20px; font-size:12px">
    </div>
    <div class="col-md-10">
      <textarea name="comment" class="form-control" id="comment_<%=@post.id%>" placeholder="댓글을 입력하세요" style="font-size:12px; height:60px; margin-top:5px;"></textarea>
    </div>
    <button value="<%= @post.id %>" type="submit" class="btn btn-default reply_submit" style="height:60px; width:60px; margin-top:28px">등록</button>
  </form>
  <br><br>
  
  <div class="col-md-10" style="margin-left:10px;">
    <% @post.comments.each do |p| %>
      <div>
        <span style="font-weight:bold;"><%= p.nickname %></span>
        <span style="font-size:10px; color:darkgray;"><%= (p.created_at).in_time_zone("Asia/Seoul").strftime("%Y-%m-%d %H:%M") %></span>
        <span style="float:right">
          <button class="glyphicon glyphicon-scissors" aria-hidden="true" onclick="#" style="font-align:right;"></button>
          <button class="glyphicon glyphicon-trash" aria-hidden="true" onclick="location.href='/board/destroy_comment/<%= p.id %>'"></button>
        </span>
      </div>
      <div style="font-size:12px; margin-top:5px;"><%= p.content %></div>

      <br>
    <% end %>
  </div>
</div>
<hr>


<hr>
<div class="row" style="height:50px;">
    <div class="col-md-8"></div>
    <div class="col-md-1" style="text=align:right">ⓒ nemoland  </div>
    <div class="col-md-3"></div>
</div>