<div class = "container">

  <h2>회원가입</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :이메일주소 %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :닉네임 %><br />
      <%= f.text_field :nickname, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :비밀번호 %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :비밀번호확인 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "가입하기" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
