<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=FukKBp3GtYl3ljJulA_v"></script>
  </head>
  
  <body>
    <div class="container" style="text-align:center; margin-top:10px; margin-bottom:10px;margin-left:auto; margin-right:auto; vertical-align:middle;">
      <h1>원룸 정보</h1>
      <button onclick="location.href='/room/index'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">전체보기</button>
      <button onclick="location.href='/room/front_area'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">정문</button>
      <button onclick="location.href='/room/back_area'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray;">후문</button>
    </div>
    <div id="map" style="margin-left:auto; margin-right:auto; vertical-align:middle; width:90%; height:580px;"></div>
    
    <script>
      
      var markers,
        map = new naver.maps.Map('map', {
          center: new naver.maps.LatLng(36.768488, 127.283414),
          zoom: 13
        }), 
        <% @room.each do |p| %>
          <%= p.name %> = new naver.maps.Marker({
            map: map,
            position: new naver.maps.LatLng(<%= p.marker %>)
          });
          
          
          var contentString_<%= p.id %> = [
            '<div class="iw_inner" style="padding:5px;">',
            '  <h4 style="text-align:center;"><%= p.title %></h4>',
            '  <p style="font-size:10px;">구조 : <%= p.structure %><br />',
            '    계약기간 : <%= p.period %>개월<br />',
            '    금액 : <%= p.payment %>만원<br />',
            '    관리비 : <%= p.fee %>만원<br />',
            '    보증금(환불) : <%= p.deposit %>만원<br />',
            '    문의 : <%= p.phone_num %><br />',
            '    <br />',
            '    <a href="#" target="_blank">사진보기(클릭)</a>',
            '  </p>',
            '</div>'
          ].join('');
     
          var infowindow_<%= p.id %> = new naver.maps.InfoWindow({
            content: contentString_<%= p.id %>
          });
          
          naver.maps.Event.addListener(<%= p.name %>, "click", function(e) {
            if(infowindow_<%= p.id %>.getMap()) {
              infowindow_<%= p.id %>.close();
            } else {
              infowindow_<%= p.id %>.open(map, <%= p.name %>)
            }
          });
         
        <% end %>
      
    </script>

  </body>
</html>