<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=FukKBp3GtYl3ljJulA_v"></script>
  </head>
  
  <body>
    <div class="container" style="text-align:center; margin-top:10px; margin-bottom:10px;margin-left:auto; margin-right:auto; vertical-align:middle;">
      <h1>원룸 정보</h1>
    
      <div class="row" style="margin-top:30px;">
        
        <div class="col-lg-4" style="margin-left:10px;">
          <div class="input-group" style="text-align:right;">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

        <div class="col-lg-4"></div>

        <div class="col-lg-3">
          <button onclick="location.href='/room/index'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray; margin-left:10px; margin-right:10px;">지도 보기</button>
          <button onclick="location.href='/room/room_list'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray; margin-left:10px; margin-right:10px;">목록 보기</button>
        </div>
      </div>
    </div>
    <hr>
    
    <div id="map" style="margin-left:auto; margin-right:auto; vertical-align:middle; width:90%; height:580px;"></div>
    
    
    <script>
  
      var markers,
        map = new naver.maps.Map('map', {
          center: new naver.maps.LatLng(36.768088, 127.283414),
          zoom: 12,
          
          mapTypeControl: true,
          mapTypeControlOptions: {
            style: naver.maps.MapTypeControlStyle.BUTTON,
            position: naver.maps.Position.TOP_RIGHT
          },
          zoomControl: false,
          zoomControlOptions: {
            position: naver.maps.Position.RIGHT_CENTER
          },
          scaleControl: true,
            scaleControlOptions: {
            position: naver.maps.Position.BOTTOM_RIGHT
          },
          logoControl: false,
            logoControlOptions: {
            position: naver.maps.Position.TOP_LEFT
          },
          mapDataControl: false,
            mapDataControlOptions: {
            position: naver.maps.Position.BOTTOM_LEFT
          }
          
        }), 
        <% @room.each do |p| %>
          <%= p.name %> = new naver.maps.Marker({
            map: map,
            position: new naver.maps.LatLng(<%= p.marker %>)
          });
          
          
          var contentString_<%= p.id %> = [
            '<div class="iw_inner" style="padding:5px;">',
            '  <h4 style="text-align:center;"><%= p.title %></h4>',
            '  <p style="font-size:10px;">구조 : <%= p.structure %><br />',
            '    계약기간 : <%= p.period %>개월<br />',
            '    금액 : <%= p.payment %>만원<br />',
            '    관리비 : <%= p.fee %>만원<br />',
            '    보증금(환불) : <%= p.deposit %>만원<br />',
            '    문의 : <%= p.phone_num %><br />',
            '    <br />',
            '    <a href="#" target="_blank">사진보기(클릭)</a>',
            '  </p>',
            '</div>'
          ].join('');
     
          var infowindow_<%= p.id %> = new naver.maps.InfoWindow({
            content: contentString_<%= p.id %>
          });
          
          naver.maps.Event.addListener(<%= p.name %>, "click", function(e) {
            if(infowindow_<%= p.id %>.getMap()) {
              infowindow_<%= p.id %>.close();
            } else {
              infowindow_<%= p.id %>.open(map, <%= p.name %>)
            }
          });
         
        <% end %>

      /*
      var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(36.767580, 127.283526),
        zoom: 11,
        
        mapTypeControl: true,
        mapTypeControlOptions: {
          style: naver.maps.MapTypeControlStyle.BUTTON,
          position: naver.maps.Position.TOP_RIGHT
        },
        zoomControl: true,
        zoomControlOptions: {
          style: naver.maps.ZoomControlStyle.SMALL,
          position: naver.maps.Position.TOP_RIGHT
        },
        scaleControl: true,
          scaleControlOptions: {
          position: naver.maps.Position.RIGHT_CENTER
        },
        logoControl: true,
          logoControlOptions: {
          position: naver.maps.Position.TOP_LEFT
        },
        mapDataControl: true,
          mapDataControlOptions: {
          position: naver.maps.Position.BOTTOM_LEFT
        }
        
      });
      
      var front = new naver.maps.LatLng(36.768488, 127.283414),
          back = new naver.maps.LatLng(36.765680, 127.285415)
      
      $( document ).ready(function() {
        $("#to_front").on("click", function(e) {
          e.preventDefault();
          map.panTo(front);
        });
        
        $("#to_back").on("click", function(e) {
          e.preventDefault();
          map.panTo(back);
        });
      
      });
      
      */
      
      
      /*
      var polygon_front = new naver.maps.Polygon({
        map: map,
        paths: [
          [
            new naver.maps.LatLng(36.767565, 127.283648),
            new naver.maps.LatLng(36.768940, 127.279571),
            new naver.maps.LatLng(36.770934, 127.279925),
            new naver.maps.LatLng(36.770822, 127.284785),
            new naver.maps.LatLng(36.770480, 127.287293),
            new naver.maps.LatLng(36.768888, 127.284871),
            new naver.maps.LatLng(36.767822, 127.283498)
          ]
        ],
        fillColor: '#ff0000',
        fillOpacity: 0.3,
        strokeColor: '#ff0000',
        strokeOpacity: 0.6,
        strokeWeight: 3
      });
      
      var polyline_front = new naver.maps.Polyline({
        map: map,
        path: [
          new naver.maps.LatLng(36.767565, 127.283648),
          new naver.maps.LatLng(36.768940, 127.279571),
          new naver.maps.LatLng(36.770934, 127.279925),
          new naver.maps.LatLng(36.770822, 127.284785),
          new naver.maps.LatLng(36.770480, 127.287293),
          new naver.maps.LatLng(36.768888, 127.284871),
          new naver.maps.LatLng(36.767822, 127.283498)
        ]
      });
      
      var polygon_back = new naver.maps.Polygon({
        map: map,
        paths: [
          [
            new naver.maps.LatLng(36.764343, 127.285022),
            new naver.maps.LatLng(36.765466, 127.284721),
            new naver.maps.LatLng(36.765498, 127.283418),
            new naver.maps.LatLng(36.766204, 127.284130),
            new naver.maps.LatLng(36.767149, 127.284430),
            new naver.maps.LatLng(36.765731, 127.287917),
            new naver.maps.LatLng(36.764223, 127.286782)
          ]
        ],
        fillColor: '#ff0000',
        fillOpacity: 0.3,
        strokeColor: '#ff0000',
        strokeOpacity: 0.6,
        strokeWeight: 3
      });
      
      var polyline_back = new naver.maps.Polyline({
        map: map,
        path: [
          new naver.maps.LatLng(36.764343, 127.285022),
          new naver.maps.LatLng(36.765466, 127.284721),
          new naver.maps.LatLng(36.765498, 127.283418),
          new naver.maps.LatLng(36.766204, 127.284130),
          new naver.maps.LatLng(36.767149, 127.284430),
          new naver.maps.LatLng(36.765731, 127.287917),
          new naver.maps.LatLng(36.764223, 127.286782)
        ]
      });
      */
      
    </script>

  </body>
</html>