<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=FukKBp3GtYl3ljJulA_v"></script>
  </head>
  
  <body>
    
    
    <div class="container" style="text-align:center; margin-top:10px; margin-bottom:10px;margin-left:auto; margin-right:auto; vertical-align:middle;">
      <h1>원룸 정보</h1>
    
      
      <div class="row" style="margin-top:30px;">
        <div class="col-lg-4" style="margin-left:10px;">
          <form action = "/room/room_search" method="GET" >
            <div class="input-group" style="text-align:right;">
            <input type="text" class="form-control" name="search" placeholder="Search for..." />
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search" style="height:38px; width:38px; font-size:25px; vertical-align:middle; padding-top:5px;"></span>
              </button>
            </span>
          </div>
          </form>
        </div>

        <div class="col-lg-4"></div>

        <div class="col-lg-3" style="margin-top:20px;">
          <button onclick="location.href='/room/index'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray; margin-left:10px; margin-right:10px;">지도 보기</button>
          <button onclick="location.href='/room/room_list'" class="btn btn-default" style="box-shadow:0 3px 0 0 darkgray; margin-left:10px; margin-right:10px;">목록 보기</button>
        </div>
      </div>
    </div>
    <hr>
    
    <!-- 여기까지는 공통 -->

    <div class="container">
    	<div class="list-group">
  	  <% @search.each do |p| %>
  	    <div class="col-md-4">
          <a href="/room/view/<%= p.id %>" class="list-group-item list-group-item-action flex-column align-items-start" style="margin-top:10px; height:300px;">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1" style="font-weight:bold; font-size:15px;">
                <%= p.title %> 
                <span class="badge"><%= p.payment %> / <%= p.fee %></span>
                <small style="padding-left:10px;"><%= p.period %>개월</small></td>
              </h5> 
              <p class="mb-1" style="font-size:12px;"><%= p.structure %> , <%= p.phone_num %></p>
            </div>
            <hr>
            <div style="vertical-align:middle; text-align:center;"><%= image_tag(p.name+".bmp", :size => "260x180") %></div>
          </a>
        </div>
      <% end %>
      </div>
    </div>
    

  </body>
</html>

