<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=FukKBp3GtYl3ljJulA_v"></script>
  </head>
  
  <body>
    
    <div class="container" style="text-align:center; margin-top:10px; margin-bottom:10px;margin-left:auto; margin-right:auto; vertical-align:middle;">
      <h1>도서 검색</h1>
      
      <div class="row" style="margin-top:15px;">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="">
          <form action="/book/book_search" method="GET">
            <div class="input-group" style="text-align:right;">
              <input name="hidden_number" type="hidden" value="1">
              <input type="text" class="form-control" id="title" name="search" placeholder="Search for..." />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search" style="height:38px; width:38px; font-size:25px; vertical-align:middle; padding-top:5px;"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
        
        <div class="col-lg-3"></div>
      </div>
    </div>
    <hr>
    
    <!-- 여기까지는 공통 -->
    
   <h1>book_search</h1>
<%=@title_str%>
<% @search.each do |r| %>
</br>
<a href="<%=r.link%>"><%=r.title%></a> <p>time : <%= r.description%></p>
</br>
<%end%>
<nav>
  <ul class="pagination">
  <% if @pre_num!=0 %>
  <li><form action="/book_search" method="GET">
        <input name="title" type="hidden" value="<%=@title_value%>">
        <input name="page" type="hidden" value="<%=@pre_num%>">
    <button type="submit" aria-label="Previous"><span aria-hidden="true">&laquo;</span></button>
    </form>
    <%else%>
    <li class="disabled"><form action="#" method="GET">
      
    <button type="submit" disabled aria-label="Previous"><span aria-hidden="true">&laquo;</span></button>
    </form>
    <%end%>
    
    <form action="/book/book_search" method="GET">
      <input name="title" type="hidden" value="<%=@title_value%>">
        <input name="page" type="hidden" value="<%=@next_num%>">
    <button type="submit" aria-label="Next"><span aria-hidden="true">&raquo;</span></button>
    </form>
    </li>
  </ul>
</nav>
  </body>
</html>

