<h2 style="text-align:center; color:black ">코리아텍 주변상점</h2>
<%= render 'store/category'%>

<div id="mainbox">
  <% @search.each do |s|%>
      <div id="card">

        <a class="foo" href="tel:<%=s.phone_number%>"> <!--전화번호 링크 -->
          <img id ="s_img" src="http://www.pelicana.co.kr/resources/images/menu/best_menu09.jpg" alt="" />
        </a>
        <a href ="/store/store_show/<%=s.id%>">
          <div id ="store_title"><%=s.name%></div>
        </a>
        <div id ="review-star">
          <span class='star-rating'>
           <span style ="width:14%"></span>
          </span>
        </div>
        <a href="tel:<%=s.phone_number%>">
          <div id ="store_content" class="btn btn-primary btn-md btn-danger">전화하기</div>
        </a>
        <div id ="store_content" class="btn btn-primary btn-md btn-warning"><%=s.category%></div>
      </div>
  <%end%>

</div>