<h2 style="text-align:center; color:black ">코리아텍 주변상점</h2>
<%= render 'store/category'%>

<div id="mainbox">
  <% @search.each do |s|%>
      <div id="card">
        <%if s.category== "치킨"%>
            <img id ="s_img" src="http://www.pelicana.co.kr/resources/images/menu/best_menu09.jpg" alt="" />
        <% elsif s.category=="도시락" %>
            <img id ="s_img" src="http://cfile4.uf.tistory.com/image/27412339565E56A40F6BB7" alt="" />


        <% else%>
            <img id ="s_img" src="http://www.proaudiostar.com/media/catalog/product/e/s/esp-sc337-bk_1.jpg" alt="" />
        <%end%>

        <a href ="/store/store_show/<%=s.id%>">
          <div id ="store_title"><%=s.name%></div>
        </a>
        <div id ="review-star">
          <span class='star-rating'>
           <span style ="width:14%"></span>
          </span>
        </div>
        <a href="tel:<%=s.phone_number%>">
          <div id ="store_content" class="btn btn-primary btn-md btn-danger">전화하기</div>
        </a>
        <div id ="store_content" class="btn btn-primary btn-md btn-warning"><%=s.category%></div>
      </div>
  <%end%>

</div>