<!--카테고리별 출력하는 페이지 -->
<h2 style="text-align:center; color:black ">코리아텍 주변상점</h2>
<%= render 'store/category'%>

<div id="mainbox">
  <% @show_category .each do |s|%>
      <div id="card">
        <a href ="/store/store_show/<%=s.id%>">
        <!--카테고리에 따른 이미지 출력, 치킨 도시락 등 -->
        <%if s.category== "치킨"%>
            <img id ="s_img" src="http://www.pelicana.co.kr/resources/images/menu/best_menu09.jpg" alt="" /> <!--치킨-->
        <% elsif s.category=="도시락" %>
            <img id ="s_img" src="http://cfile4.uf.tistory.com/image/27412339565E56A40F6BB7" alt="" /> <!--도시락-->


        <% else%>
            <img id ="s_img" src="http://www.proaudiostar.com/media/catalog/product/e/s/esp-sc337-bk_1.jpg" alt="" /> <!--기타 -->
        <%end%>

          <div id ="store_title"><%=s.name%></div>


        <div id ="review-star">
          <span class='star-rating'>
           <span style ="width:14%"></span>
          </span>
        </div>
        <a href="tel:<%=s.phone_number%>">
          <div id ="store_content" class="btn btn-primary btn-md btn-danger">전화하기</div> <!--전화번호 링크 -->
        </a>

        <div id ="store_content" class="btn btn-primary btn-md btn-warning"><%=s.category%></div>
        </a>
      </div>
  <%end%>

</div>